* {
    margin: 0;
    padding: 0;
    font-family: Arial;
}

#page {
    font: 12px Arial, Tahoma, sans-serif;
    padding: 10px;
}

#coctail_form {
    overflow: hidden;
    width: 472px;
    height: 420px;
    background: #e9e9e9;
    margin-left: auto;
    margin-right: auto;
}

#header {
    height: 41px;
    background: #72abe0;
}

.b3radius {
    border-radius: 2px;
}

#nav {
    height: 41px;
}

#nav ul {
    list-style: none;
}

#nav ul li {
    float: left;
    padding: 0 5px;
}

#nav ul li:last-child {
    /*    border-right: none; */
}

#nav li.first {
    background-image: url(menu1.png);
    background-repeat: repeat-x;
}

#nav li {
    background-image: url(menuarr1.png), url(menu1.png);
    background-repeat: no-repeat, repeat-x;
    height: 41px;
}

#nav li span {
    margin: 15px 40px;
    display: block;
    font-weight: bold;
    width: 100px;
    overflow: hidden;
}

#nav #description {
    background-image: url(menuleft.png), url(description2.png), url(menu1active.png);
    background-repeat: no-repeat, no-repeat, repeat-x;
    background-position: 0px 0px, 15px 12px, 0px 0px;
    width: 100px;
}

#nav #description span {
    margin: 15px 35px;
    color: #ffffff;
}

#nav #ingredients {
    background-image: url("bottle.png"), url(menuarr2.png), url(menu1.png);
    background-repeat: no-repeat, no-repeat, repeat-x;
    background-position: 15px 8px, 0px 0px, 0px 0px;
    width: 116px;
}

#nav #ingredients span {
    margin: 15px 30px;
    color: #1b4680;
}

#nav #parameters {
    background-image: url("parameters.png"), url(menuarr1.png), url(menu1.png);
    background-repeat: no-repeat, no-repeat, repeat-x;
    background-position: 15px 8px, 0px 0px, 0px 0px;
    width: 120px;
}

#nav #parameters span {
    margin: 15px 45px;
    color: #1b4680;
}

#nav #goblet {
    background-image: url(menuright.png), url("goblet.png"), url(menuarr1.png), url(menu1.png);
    background-repeat: no-repeat, no-repeat, no-repeat, repeat-x;
    background-position: 103px 0px, 15px 8px, 0px 0px, 0px 0px;
    width: 96px;
}

#nav .current {
    background-image: url(menuleft.png), url(description2.png), url(menu1active.png);
    background-repeat: no-repeat, no-repeat, repeat-x;
    background-position: 0px 0px, 15px 12px, 0px 0px;
}

#nav #goblet span {
    margin: 15px 25px;
    color: #1b4680;
}

#top {
    padding: 6px;
    height: 20px;
}

#breadcrums {
    background-image: url("breadcrums.png");
    background-repeat: no-repeat;
    height: 24px;
    width: 65px;
}

#title {
    background-image: url("description.png");
    background-repeat: no-repeat;
    background-position: 0px 0px;
    float: left;
    width: 25px;
    height: 21px;
}

#title span {
    display: block;
    margin: 5px 25px;
    color: #676767;
    font-weight: bold;
}

#download {
    background: url(download.png) no-repeat;
    cursor: pointer;
    border: none;
    width: 102px;
    height: 22px;
}

#breadcrums {
    float: right;
}

#content {
    width: 440px;
    overflow: hidden;
    padding: 15px;
}

#middle {
    width: 440px;
    overflow: hidden;
}

#image {
    width: 125px;
    height: 182px;
    float: left;
}

#image img, #image button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
}

#fields {
    margin-left: 130px;
    display: block;
    height: 182px;
    width: 310px;
}

#fields input {
    width: 280px;
    height: 30px;
    margin: 3px;
}

#coctail_form textarea {
    width: 283px;
    margin: 3px;
}

#coctail_form textarea {
    height: 86px;
}

#coctail_form textarea {
    padding-top: 5px;
    padding-left: 7px;
}

#bottom {
    padding: 6px;
    width: 440px;
    overflow: hidden;
}

.submit {
    margin: 10px 10px;
    float: right;
}

#bottom textarea {
    width: 406px;
    display: block;
    height: 80px;
}

#fields textarea, #fields input, #bottom textarea {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 14px;
    border-radius: 6px;
    -moz-box-shadow: inset 0 0 1px #000000;
    -webkit-box-shadow: inset 0 0 1px #000000;
    box-shadow: inset 0 0 1px #000000;
}


