* {
    margin: 0;
    padding: 0;
    font-family: Arial;
}

#page {
    font: 12px Arial, Tahoma, sans-serif;
    padding: 10px;
}

#coctail_form {
    overflow: hidden;
    width: 472px;
    height: 420px;
    background: #e9e9e9;
    margin-left: auto;
    margin-right: auto;
}

#header {
    height: 41px;
    background: #72abe0;
}

.b3radius {
    border-radius: 2px;
}

ul#nav {
    list-style-type: none;
    padding: 0;
    position: relative;
    font-family: 'latomedium', arial, sans-serif;
    font-weight: bold;
}

ul#nav li {
    display: block;
}

ul#nav a {
    top: 0;
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    text-decoration: none;
    font-size: 1em;
    line-height: 40px;
}

ul#nav a em {
    position: absolute;
    cursor: pointer;
}

ul#nav a em.left {
    height: 40px;
    width: 12px;
    top: 0;
    left: 0px;
}

ul#nav a em.middle {
    font-style: normal;
    position: absolute;
    top: 0px;
    height: 40px;
    left: 12px;
    text-align: left;
}

ul#nav a em.right {
    width: 12px;
    height: 40px;
    position: absolute;
    top: 0px;
}

ul#nav a.description {
    left: 0px;
}

ul#nav a.description em.middle {
    width: 95px;
}

ul#nav a.description em.middle img {
    float: left;
    margin: 9px 0px;
    padding: 0 3px;
}

ul#nav a.description em.right {
    left: 107px;
}

ul#nav a.ingredients {
    left: 107px;
}

ul#nav a.ingredients em.middle {
    width: 115px;
}

ul#nav a.ingredients em.middle img {
    float: left;
    margin: 7px 2px;
    padding: 0 3px;
}

ul#nav a.ingredients em.right {
    left: 127px;
}

ul#nav a.parameters {
    left: 234px;
}

ul#nav a.parameters em.middle {
    width: 122px;
}

ul#nav a.parameters em.middle img {
    float: left;
    margin: 7px 2px;
    padding: 0 3px;
}

ul#nav a.parameters em.right {
    left: 132px;
}

ul#nav a.goblet {
    left: 366px;
}

ul#nav a.goblet em.middle {
    width: 82px;
}

ul#nav a.goblet em.middle img {
    float: left;
    margin: 7px 2px;
    padding: 0 3px;
}

ul#nav a.goblet em.right {
    left: 94px;
}

ul#nav a em.left {
    background-image: url(../images/menu/menu_left_m.png);
    background-repeat: no-repeat;
}

ul#nav a em.right {
    background-image: url(../images/menu/menu_right_m.png);
    background-repeat: no-repeat;
}

ul#nav a em.middle {
    background-image: url(../images/menu/menu1.png);
    background-repeat: repeat-x;
}

ul#nav a:hover em.middle, ul#nav a.current em.middle {
    background-image: url(../images/menu/menu1active.png);
    background-repeat: repeat-x;
}

ul#nav a:hover em.right, ul#nav a.current em.right {
    background-image: url(../images/menu/menu_right_active_m.png);
    background-repeat: no-repeat;
}

ul#nav a:hover em.left, ul#nav a.current em.left {
    background-image: url(../images/menu/menu_left_active_m.png);
    background-repeat: no-repeat;
}

ul#nav a.last:hover em.right, ul#nav a.last.current em.right {
    background-image: url(../images/menu/menuright_active.png);
    background-repeat: no-repeat;
}

ul#nav a.first:hover em.left, ul#nav a.first.current em.left {
    background-image: url(../images/menu/menuleft_active.png);
    background-repeat: no-repeat;
}

ul#nav a.last em.right {
    background-image: url(../images/menu/menuright.png);
    background-repeat: no-repeat;
}

ul#nav a.first em.left {
    background-image: url(../images/menu/menuleft.png);
    background-repeat: no-repeat;
}

ul#nav a.current em, ul#nav a:hover em {
    color: #ffffff;
}

ul#nav a em {
    color: #1b4680;
}

#top {
    padding: 6px;
    height: 20px;
}

#breadcrums {
    background-image: url(../images/breadcrums.png);
    background-repeat: no-repeat;
    height: 24px;
    width: 65px;
}

#title {
    background-image: url(../images/description.png);
    background-repeat: no-repeat;
    background-position: 0px 0px;
    float: left;
    width: 25px;
    height: 21px;
}

#title span {
    display: block;
    margin: 5px 25px;
    color: #676767;
    font-weight: bold;
}

#download {
    background: url(../images/download.png) no-repeat;
    cursor: pointer;
    border: none;
    width: 102px;
    height: 22px;
}

#breadcrums {
    float: right;
}

#content {
    width: 440px;
    overflow: hidden;
    padding: 15px;
}

#middle {
    width: 440px;
    overflow: hidden;
}

#image {
    width: 125px;
    height: 182px;
    float: left;
}

#image img, #image button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
}

#fields {
    margin-left: 130px;
    display: block;
    height: 182px;
    width: 310px;
}

#fields input {
    width: 280px;
    height: 30px;
    margin: 3px;
}

#coctail_form textarea {
    width: 283px;
    margin: 3px;
}

#coctail_form textarea {
    height: 86px;
}

#coctail_form textarea {
    padding-top: 5px;
    padding-left: 7px;
}

#bottom {
    padding: 6px;
    width: 440px;
    overflow: hidden;
}

.submit {
    margin: 10px 10px;
    float: right;
}

#bottom textarea {
    width: 406px;
    display: block;
    height: 80px;
}

#fields textarea, #fields input, #bottom textarea {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 14px;
    border-radius: 6px;
    -moz-box-shadow: inset 0 0 1px #000000;
    -webkit-box-shadow: inset 0 0 1px #000000;
    box-shadow: inset 0 0 1px #000000;
}


