div {
  padding: 15px 0px 0px 0px;
  font-family: arial;
}

#blackandwhite {
  border-width: 1px;
  border-style: solid;
  font-size: 40px;
  padding-top: 15px;
}

#blackandwhite #black {
  color: #000000;
  background-color: #ffffff;
  padding-right: 2px;
  padding-left: 10px;
}

#blackandwhite #white {
  color: #ffffff;
  background-color: #000000;
  padding-top: 15px;
  padding-left: 2px;
  padding-right: 10px;
}