        p::before {
            content: "Содержание";
            font-size: 20px;
        }

        .item-list {
            background-color: #cccccc;
            padding-bottom: 6px;
            font-family: Californian FB, Verdana, Arial;
            font-weight: bold;
            font-size: 20px;
        }

        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            background-color: #f0f0f0;
            height: 42px;
        }

        li {
            float: left;
        }

        li a, li span {
            display: block;
            color: #000000;
            text-align: center;
            padding: 9px 21px;
            text-decoration: none;
        }

        li a {
            color: #832331;
        }

        .pager-current span {
            background-color: #cccccc;
            color: #000000;
        }

        .first span {
            margin-left: 40px;
            border-width: 6px;
            border-bottom-style: solid;
            border-color: #373737;
        }

        .last a {
            text-align: left;
        }